Assignment Requirements:

Pre-Processing:
- Lowercase all text
- Remove punctuation and special characters
- Tokenize sentences using either Keras Tokenizer or nltk.word_tokenize
- Keep only top 10,000 most frequent words
- Convert each review to a sequence of token IDs
- Pad or truncate sequences to fixed lengths of 25, 50, and 100 words

Model:
- Include an embedding layer (size: 100).
- Use 2 hidden layers (hidden size: 64).
- Use dropout (0.3–0.5) to reduce overfitting.
- Batch size: 32.
- Use a fully connected output layer with a sigmoid activation for binary classification.
- Use binary cross-entropy loss.
- Fix all other hyperparameters when varying one factor (e.g., only change the optimizer, keep architecture and sequence length fixed).

Hardware
- All testing is done on CPU configuration
- I utilized a Dell XPS 15 with the following parameters:

- Intel (R) Core (TM) i7-10750H CPU @ 2.60 GHz
- 16 GB of RAM
